
    tr td{
      padding-bottom: 20px;
      padding-right: 25px;
      font-weight: bold;
      font-size: 16px;
      color: black;
    }
    input{
      width: 400px;
      height: 30px;
      border-radius: 10px;
      border: 5px solid whitesmoke;
    }
    textarea{
      width: 400px;
      border-radius: 10px;
    }
    #submitbutton{
      margin-left: 50%;
      background-color: #222831;
      color: whitesmoke;
      font-size: 25px;
      font-weight: bold;
      height: 70px;
      width: 400px;
      border: 1px solid transparent;
      transition-duration: 0.5s;
    }
    #submitbutton:hover{
      background-color: white;
      color: #222831;
    }
    #submitbutton:active{
      background-color: #222831;
      color: white;
    }
    .addhotel{
        height: fit-content;
        width: fit-content;
        border: 1px solid transparent;
        border-radius: 2%;
        margin-left: 20%;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(7px);
    }
    .imagedesign{
      width: 220px;
      color: #222831;
      border: 1px solid black;
    }

  
    #warrning{
      position: sticky;
      top: 100px;
      left: 400px;
      z-index: 2;
      width: 50%;
    }
    #insta{
      margin-left: 50px;
    }
    strong{
      color: red;
    }
    .sortbutton{
      margin-left: 400px;
    }
    .card{
      box-shadow: 20px 20px 50px black;
    }
    .card-body{
      box-shadow: 10px 10px 50px black;
    }
    .card-body:hover{
      box-shadow: 0px 0px 0px transparent;
    }
    .card:hover{
      box-shadow: 0px 0px 0px transparent;
    }
    .search-heading{
      width: 100%;
      height: 50px;

    }
    .search{
      height: 500px;
      width: 100%;
      overflow-x: auto;
      border: 1px solid black;
      white-space: nowrap;
      
    }
    #sdbutton{
      width: 100%;
      background-color: #2d3250;
    }
    .dropdown-menu{
      width: 100%;
    }
    .ddlist{
        overflow: auto;
    }
    .ddlist::-webkit-scrollbar{
      display: none;
    }
    .logindsgn{
      height: 50px;
      width: 100%;
      border-radius: 20px;
      border: 0px solid transparent;
      background-color: rgba(255, 255, 255, 0.566);
    }