{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>about us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      
    </style>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <br><br>


    <img src="{% static 'images/about3.jpg' %}" alt="" class="hbimg">
    
    <!--aboutus-->
    <div class="our_goals">
        <div class="accordion" id="accordionExample">
            <!--Who are we starts-->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Who are we ?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">

                <div class="accordion-body">
                    <img src="{% static 'images/about1.jpg' %}" alt=""><br><br><br>
                  <strong><h5 align="center"><b>We are G20 Founders </b></h5><br></strong>
                  Our goal is to make the process of  Hotel booking online , so that travellers should not be worried about about their stay.
                  While travelling , it is hard to find place to stay ,in that process they find the hotels .This will ruins the excitement and fun of travelling . <br>
                  So that we come with our new idea where travellers can book the hotel rooms before their travelling starts and they can enjoy their travelling
                </div>
              </div>
            </div>
            <!--Who are we ends-->

            <!--How our service can help you starts-->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                 How our service can help ?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <img src="{% static 'images/about2.jpg' %}" alt="">  <br><br><br>  
                  <strong><h5 align="center"><b>Our service for your travelling</b></h5></strong> 
                  We help you to choose best and luxurious hotels where you can stay and enjoy your travelling. <br>
                  We have the multiple options of hotels in specific are you choose and we have best service in better price for you.
                </div>
              </div>
            </div>
            <!--How our service can help you ends-->

            <!--Wht only G20 for online hotel booking stats-->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Why only G20 for Online Hotel Booking ?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <img src="{% static 'images/about4.jpg' %}" alt="" id="whyg20img">
                  <strong><h5 align="center"><b>G20 is the only online plateform for best deald related to hotels.</b></h5></strong><br>
                  We have the best offers for you on Online . <br>
                  G20 is the only site where you can find best hotels/hotel rooms in affordable price 

                </div>
              </div>
            </div>
            <!--Wht only G20 for online hotel booking ends-->
          </div>
    </div>
    <!--aboutus-->
    
    <!--aboutus 2 -->
    <div class="our_goals2">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  What are the Advantages of Online Hotel Booking ?
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <img src="{% static 'images/about6.jpg' %}" alt="" class="outer2">
                <div class="accordion-body">Online hotel booking system gives you the freedom to book hotel rooms 24/7 and traveler can select place and hotel by his/her choice.
                    It is easier to book hotel room on online platform instead of offline and people can book rooms from different state, district and different country.
                    The booking made through phone calls are not definitely booked until the payment is done. Traveler can make online payment in this system and conform their hotel room.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  How it is benificial to the business owner ?
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <img src="{% static 'images/about7.webp' %}" alt="" class="outer2">
                <div class="accordion-body">An online hotel booking system is a software solution that enables business owners to automate the process of accepting and managing bookings.
                    It serves as a centralized platform that allows guests to make reservations for rooms, amenities, and services.
                    It allows user to book and see the details of hotel at any place.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Our policies
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <img src="{% static 'images/about8.jpg' %}" alt="" class="outer2">
                <div class="accordion-body">
                    Prividing a Good customer serviece is our prior policies.
                    Customer is God. <br>
                    We are doing very hard work to privid you a good service .  <br>
                    We try to satisfy our customer with our at most servieces. <br>
                </div>
              </div>
            </div>
          </div>
    </div>
    <!--aboutus 2-->
    <br><br>
    <h2 align="center">Contact Devlopers Personally</h2>
    <br><br>

    <!--Contact Developers Personally-->
    <div class="card-group">
      <div class="card">
        <img src="{% static 'images/bhavesh.jpg' %}" class="card-img-top" alt="..." id="d1">
        <div class="card-body">
          <h5 class="card-title">Bhavesh Jadav</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-body-secondary"></small></p>
          <div class="contactlinks">
              <a href="http://instagram.com"><img src="{% static 'images/instaicon.png' %}" alt="" class=""></a>
              <a href="http://facebook.com"><img src="{% static 'images/facebook.png' %}" alt="" class=""></a>
              <a href="http://twitter.com"><img src="{% static 'images/twitter.png' %}" alt="" class=""></a>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="{% static 'images/rajat.jpg' %}" class="card-img-top" alt="..." id="d2">
        <div class="card-body">
          <h5 class="card-title">Rajat Rathod</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-body-secondary"></small></p>
          <div class="contactlinks">
              <a href="http://instagram.com"><img src="{% static 'images/instaicon.png' %}" alt="" class=""></a>
              <a href="http://facebook.com"><img src="{% static 'images/facebook.png' %}" alt="" class=""></a>
              <a href="http://twitter.com"><img src="{% static 'images/twitter.png' %}" alt="" class=""></a>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="{% static '/images/mahesh.jpg' %}" class="card-img-top" alt="..." id="d3">
        <div class="card-body">
          <h5 class="card-title">Mahesh Yogi</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-body-secondary"></small></p>
          <div class="contactlinks">
              <a href="http://instagram.com"><img src="{% static 'images/instaicon.png' %}" alt="" class=""></a>
              <a href="http://facebook.com"><img src="{% static 'images/facebook.png' %}" alt="" class=""></a>
              <a href="http://twitter.com"><img src="{% static 'images/twitter.png' %}" alt="" class=""></a>
          </div>
        </div>
      </div>
    </div>
    <!--Contact Developers Personally-->

    {{h2.hname}}
 
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>