<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <style>
        
        *::-webkit-scrollbar{
            display: none;
          }

        .pp{
            font-size: 25px;
            font-family: 'Times New Roman', Times, serif;
        }
        h1{
            font-size: 50px;
        }
        a{
            color: blue;
        }
    </style>
</head>
<body >

    <h1 align="center">Privacy Policy</h1>
    
    <h4 class="pp">
        <b>
            <ul>
                <li>At G20, we respect your privacy and are committed to protecting it through our compliance with this policy.</li> <br>
    
    
                <li>We collect several types of information from and about users of our website, including: </li><br>
            
                <li>Personal information, such as your name,  email address, telephone number, or any other identifier by which you may be contacted online or offline. Non-personal information, such as demographic information, or statistical or aggregated information. </li><br>  
            
                <li> We use different methods to collect your information, including through:</li>
            
            Direct interactions: You may provide us with your information when you fill in forms, correspond with us via email, or interact with our website. Automated technologies or interactions: As you interact with our website, we may automatically collect technical data about your equipment, browsing actions. </li><br>
            
            <li>We use your information in various ways, such as to:   </li><br>  
            
            <li>Provide you with information, services that you request from us.  </li><br>  
            <li>Notify you about changes to our website or any products or services we offer or provide. Allow you to participate in interactive features on our website..  </li><br>  
            
            <li>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information unless we provide users with advance notice. </li> <br>  
            
            
            <li>We have implemented measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration, and disclosure. </li><br>  

            ContactUs if you have any issues : <a href="tel:+012346789">+0123456789</a>
        </ul>
        </b>
    </h4>  

</body>
</html>