<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h3{
            font-size: 25px;
            font-family: 'Times New Roman', Times, serif;
        }
        *::-webkit-scrollbar{
            display: none;
          }
        a{
            color: blue;
        }
    </style>
</head>
<body>
    <h3>
        <b>
            <ul>
           <h2> Welcome to G20 online hotel booking system. By using our system, you agree to these terms and conditions. </h2>

            1. Booking and Cancellation Policy  <br><br>

            You can book hotel rooms and cancel on this site.After Cancellation customer will get 100% payment back  <br><br>

            2. User Accounts  <br><br>

            Guidelines for creating and maintaining user accounts, including password requirements and account security.  <br><br>

            3. <a href="{% url 'privacy' %}">Privacy Policy</a>  <br><br>

            4. Intellectual Property Rights  <br><br>

            All the images , icons  and and content every right is owned by G20   <br><br>

            5. User Conduct  <br><br>

            Posting harmful comments or spam comments on the comment section of any hotel is prohibited  <br><br> 

            6. Dispute Resolution  <br><br>

            If user have any problem or dispute with the site they can contact the team : <a href="tel:+012346789">+0123456789</a>  <br><br>

            7. Contact Information  <br><br>

            ContactUs for more information : <a href="tel:+012346789">+0123456789</a> 
        </ul>
        </b>
    </h3>
</body>
</html>